@import 'tailwindcss';

@layer base {
  body {
    @apply bg-gray-100 text-gray-800 font-sans;
  }

  a {
    @apply text-blue-600 hover:text-blue-800;
  }

  h1 {
    @apply text-4xl font-bold;
  }

  h2 {
    @apply text-3xl font-bold;
  }

  h3 {
    @apply text-2xl font-bold;
  }

  h4 {
    @apply text-xl font-bold;
  }

  h5 {
    @apply text-lg font-bold;
  }

  h6 {
    @apply text-base font-bold;
  }

  button {
    @apply rounded;
  }

  input,
  textarea {
    @apply outline-1 px-1 py-0.5;
  }

  textarea {
    resize: none;
  }

  form {
    @apply space-y-1;
  }
}

.success,
.error,
.info {
  padding: 0.5rem;
  border: 2px solid;
  margin-block: 1rem;
}

.success {
  background-color: #d6ffd6;
  color: #047c04;
  border-color: #007a00;
}

.error {
  background-color: #ffd6d6;
  color: #c0392b;
  border-color: #ad2121;
}

.info {
  background-color: #e0f2f7;
  color: #2196f3;
  border-color: #1976d2;
}

.success p,
.error p,
.info p {
  margin: 0;
}

img {
  width: 100%;
  display: block;
}

b {
  text-transform: capitalize;
}

.blogitem-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.blog-item {
  border: 1px solid black;
  padding: 1rem;
}

button {
  padding: 0.25em 0.5em;
  text-transform: capitalize;
  cursor: pointer;
  display: inline-block;
}

.delete-btn,
.like-btn,
.logout-btn,
.login-btn,
.create-btn {
  background-color: #e94b3a;
  color: #fff;
  border: none;
}

.like-btn,
.login-btn,
.create-btn {
  background-color: #2196f3;
  padding: 0.25em 0.5em;
}

.create-btn {
  margin-bottom: 0.5rem;
}
